<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVUNpf34az4dC29Ujt5IDq_qcEIHBPX5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>676102038427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emergencyMapSy</string>
	<key>PROJECT_ID</key>
	<string>emergency-map-sy</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-map-sy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676102038427:ios:d96632538ef9a98201f73e</string>
</dict>
</plist>